<div class="nav-bar">

  <div class="col-12 pl-4">

    <nav class="nav">

      <div class="dropdown">
        <button class="dropbtn">Servicios de instragram</button>
        <div class="dropdown-content">
          <a [routerLink]="['/instagram/buy-likes']">Comprar seguidores de instragram</a>
          <a href="#">Comprar me gusta de instragram</a>
          <a href="#">Comprar visitas de instragram</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Servicios de tik tok</button>
        <div class="dropdown-content">
          <a [routerLink]="['/tiktok/buy-likes']">Comprar seguidores de tik tok</a>
          <a href="#">Comprar me gusta de tik tok</a>
          <a href="#">Comprar visitas de tik tok</a>
        </div>
      </div>

    </nav>

  </div>

</div>
