<div class="container shadow border" style="margin-top: 25px;">
  <!-- Sección de precios -->
  <div class="pricing">
    <div class="price-item" [ngClass]="{'selected': likes80 }" (click)="selectedOffer('80')">
      <h6 class="text-main-card">80 Likes</h6>
      <div style="font-size:40px;margin-top:-8px; margin-bottom: 10px;">😏</div>
      <p class="price" style="margin-bottom: 2.5px;">$0.99</p>
      <p class="tag" style="margin-top: -6px;">🔥 Crazy Low</p>
    </div>
    <div class="price-item" [ngClass]="{'selected': likes500 }" (click)="selectedOffer('500')">
      <h6 class="text-main-card">500 Likes</h6>
      <div style="font-size:40px;margin-top:-8px; margin-bottom: 10px;">😎</div>
      <p class="price" style="margin-bottom: 2.5px;">$4.99</p>
      <p class="tag" style="margin-top: -6px;">🔥 Best Seller</p>
    </div>
    <div class="price-item" [ngClass]="{'selected': likes1200 }" (click)="selectedOffer('1200')">
      <h6 class="text-main-card">1,200 Likes</h6>
      <div style="font-size:40px;margin-top:-8px; margin-bottom: 10px;">🤩</div>
      <p class="price" style="margin-bottom: 2.5px;">$9.99</p>
      <p class="tag" style="margin-top: -6px;">+200 Bonus</p>
    </div>
    <div class="price-item" [ngClass]="{'selected': likes2500 }" (click)="selectedOffer('2500')">
      <h6 class="text-main-card">2,500 Likes</h6>
      <div style="font-size:40px;margin-top:-8px; margin-bottom: 10px;">🤑</div>
      <p class="price" style="margin-bottom: 2.5px;">$19.99</p>
      <p class="tag" style="margin-top: -6px;">+500 Bonus</p>
    </div>
    <div class="price-item" [ngClass]="{'selected': likes6000 }" (click)="selectedOffer('6000')">
      <h6 class="text-main-card">6,000 Likes</h6>
      <div style="font-size:40px;margin-top:-8px; margin-bottom: 10px;">🥳</div>
      <p class="price" style="margin-bottom: 2.5px;">$49.99</p>
      <p class="tag" style="margin-top: -6px;">+1,500 Bonus</p>
    </div>
    <div class="price-item" [ngClass]="{'selected': likes14000 }" (click)="selectedOffer('14000')">
      <h6 class="text-main-card">14,000 Likes</h6>
      <div style="font-size:40px;margin-top:-8px; margin-bottom: 10px;">👑</div>
      <p class="price-no-selected" style="margin-bottom: 2.5px;">$99.99</p>
      <p class="tag" style="margin-top: -6px;">+4,000 Bonus</p>
    </div>
  </div>

  <!-- Usuario y precio total -->
  <div class="user-section">
    <div class="likes-summary">

      <form [formGroup]="form" style="width: 100%;">

        <div class="flex-row div-input">
          <div style="height: 40px; align-content: center;">
            <fa-icon [icon]="faHeart" style="padding-right: 5px; zoom: 1.6; color: red;"></fa-icon>
          </div>
          <input formControlName="quantityLikes" placeholder="Selecciona la oferta" style="width: 100%;" />
        </div>

        <div class="flex-row div-input">
          <div style="height: 40px; align-content: center;">
            <fa-icon [icon]="faUserCircle" style="padding-right: 5px; zoom: 1.6; color: grey;"></fa-icon>
          </div>
          <input formControlName="username" placeholder="Username" style="width: 100%;" />
        </div>

        <div class="flex-colum justify-self mt-1-5" style="gap: 10px; width: 150px;">
          <a class="btn-default" (click)="search()">
            <span class="space-8 m5">Buscar</span>
          </a>
        </div>

      </form>

    </div>
  </div>

 @if(seeLikes) {
   <div>
     <div class="flex-colum" style="align-items: center;">
       <div class="user-image">
         <img [src]="avatarUrl" alt="User profile" class="img-profile">
       </div>
       <h4 style="font-size: 25px;">{{info?.username}}</h4>
       <h5 style="font-size: 25px;">{{ info?.followers }} Seguidores</h5>
       <h5 style="font-size: 20px; text-align: center;">{{info?.biography}}</h5>
     </div>

     <!-- Lista de publicaciones -->
     <div class="posts">
       <div class="post likes-item" *ngFor="let post of posts" (click)="selectedLikes(post)" [ngClass]="{'selected': post?.selected }">
         <img src="https://img.freepik.com/psd-gratis/logotipo-aplicacion-instagram_23-2151544104.jpg?t=st=1734268994~exp=1734272594~hmac=754287724fc7b7e3847af77e5f14b4b592113863ba342aa4dae8103a7c79ce94&w=1380"  />
         <p style="margin: 0;">{{ post.likes }} Likes</p>
         <p style="margin-top: 3px;">{{ post.comments }} Comentarios</p>
       </div>
     </div>

     <div class="flex-colum justify-self mt-1-5" style="gap: 10px;">
       <span class="align-seft-center" style="font-size: 17px; font-weight: bold;">Selecciona la cantidad</span>
       <a class="content-advertising spaceAround" (click)="buy()">
         <fa-icon [icon]="faFaceSmileWink"></fa-icon>
         <span class="space-8 m5">Comprar seguidores</span>
         <fa-icon [icon]="faArrowRight" class="m5"></fa-icon>
       </a>
     </div>
   </div>
 }
  <app-loading [isLoading]="showLoading"></app-loading>
</div>
