<app-nav-bar></app-nav-bar>

<div class="advertising">

  <div>
    <h1 class="text-instagram">
      Compra seguidores reales de Instagram y TikTok
    </h1>
  </div>

  <div class="alingSeft">
    <span>
      <strong>Estrategias asequibles y efectivas para una interacción auténtica: confiables desde 2012</strong>
    </span>
  </div>

  <div class="container-square">

    <div id="reason">
      <div class="reason-item">
        <img src="search.png" width="40" height="40">
        <p style="margin-top: -0.1rem; font-weight: bold;">Aumenta la visibilidad del contenido</p>
      </div>

      <div class="reason-item">
        <img src="mujer-de-negocios.png" width="40" height="40">
        <p style="margin-top: -0.1rem; font-weight: bold;">Mejora tu credibilidad</p>
      </div>
    </div>

    <div>
      <div style="color: black;" class="mt-1">
        <fa-icon [icon]="faBolt"></fa-icon>
        <span>Pago exprés</span>
      </div>
      <div>

        <a class="content-advertising mt-04">
          <small class="sale">!Venta!</small>
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Seguidores de Instagram</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>

        <a class="content-advertising-tiktok mt-1-5">
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Seguidores de TikTok</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>

        <a class="content-advertising-like-instagram mt-1-5">
          <small class="sale">!Venta!</small>
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Me gusta de instagram</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>

      </div>

    </div>

  </div>

  <div style="align-self: center; display: flex; flex-direction: column;">

    <a class="content-advertising-like-instagram mt-1-5">
      <small class="sale">!Venta!</small>
      <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
      <span class="space-2">Reproducciones de video de instagram</span>
      <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
    </a>

    <a class="content-advertising-tiktok mt-1-5" style="width: 210px; align-self: center;">
      <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
      <span class="space-2">Me gusta de TikTok</span>
      <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
    </a>

    <a class="content-advertising-tiktok mt-1-5">
      <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
      <span class="space-2">Reproducciones de video de TikTok</span>
      <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
    </a>

  </div>

</div>

<div class="content-option">

  <div class="sub-content-option">
    <fa-icon [icon]="faUsers" class="alingSeft icon-default"></fa-icon>
    <span class="alingSeft">Seguidores de alta calidad</span>
  </div>

  <div class="sub-content-option">
    <fa-icon [icon]="faCalculator" class="alingSeft icon-default"></fa-icon>
    <span class="alingSeft">Precios asequibles</span>
  </div>

  <div class="sub-content-option">
    <fa-icon [icon]="faBolt" class="alingSeft icon-default"></fa-icon>
    <span class="alingSeft">Entregas inmediatas</span>
  </div>

</div>

<div style="display: flex; justify-content: center;"><h2>Elija el servicio</h2></div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">

  <div class="container-card" style="margin-left: 100px;">

    <div class="container-header">
      <h3 style="padding: 0; margin: 0;">
        <fa-icon [icon]="faUsers"></fa-icon>
        <strong>Seguidores de Instagram</strong></h3>
      <small><strong>Paquete de mejor valor</strong></small>
    </div>

    <div class="container-body">

      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Oferta <span style="color: red; font-weight: bold">Rizz Tástica</span></span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Pago rapido</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Alta calidad</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Proteccion segura</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Soporte dedicado</span></div>

      <div style="margin-top: 10px;">
        <span
          style="font-weight: bold; display: flex; justify-content: center; align-items: center;">Apartir de $2,99</span>
        <a class="content-advertising mt-04" style="width: 260px; align-self: center; margin-top: 25px;">
          <small class="sale-card">!La mejor oferta!</small>
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Comprar ahora</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>
      </div>
    </div>

  </div>

  <div class="container-card" style="margin-left: 100px;">

    <div class="container-header"
         style="background-image: linear-gradient(to right, #ff0050,#000000, #000000, #00f2ea);">
      <h3 style="padding: 0; margin: 0;">
        <fa-icon [icon]="faUsers"></fa-icon>
        <strong>Seguidores de Instagram</strong></h3>
      <small><strong>Paquete de mejor valor</strong></small>
    </div>

    <div class="container-body">

      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Oferta <span style="color: red; font-weight: bold">Rizz Tástica</span></span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Pago rapido</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Alta calidad</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Proteccion segura</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Soporte dedicado</span></div>

      <div style="margin-top: 10px;">
        <span
          style="font-weight: bold; display: flex; justify-content: center; align-items: center;">Apartir de $2,99</span>
        <a class="content-advertising-tiktok mt-04" style="width: 260px; align-self: center; margin-top: 25px;">
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Comprar ahora</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>
      </div>
    </div>

  </div>

  <div class="container-card" style="margin-left: 100px;">

    <div class="container-header">
      <h3 style="padding: 0; margin: 0;">
        <fa-icon [icon]="faUsers"></fa-icon>
        <strong>Seguidores de Instagram</strong></h3>
      <small><strong>Paquete de mejor valor</strong></small>
    </div>

    <div class="container-body">

      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Oferta <span style="color: red; font-weight: bold">Rizz Tástica</span></span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Pago rapido</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Alta calidad</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Proteccion segura</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Soporte dedicado</span></div>

      <div style="margin-top: 10px;">
        <span
          style="font-weight: bold; display: flex; justify-content: center; align-items: center;">Apartir de $2,99</span>
        <a class="content-advertising-like-instagram mt-04" style="width: 260px; align-self: center; margin-top: 25px;">
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Comprar ahora</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>
      </div>
    </div>

  </div>

  <div class="container-card" style="margin-left: 100px;">

    <div class="container-header">
      <h3 style="padding: 0; margin: 0;">
        <fa-icon [icon]="faUsers"></fa-icon>
        <strong>Seguidores de Instagram</strong></h3>
      <small><strong>Paquete de mejor valor</strong></small>
    </div>

    <div class="container-body">

      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Oferta <span style="color: red; font-weight: bold">Rizz Tástica</span></span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Pago rapido</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Alta calidad</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Proteccion segura</span></div>
      <div class="mt-04">
        <fa-icon [icon]="faFire"></fa-icon>
        <span class="ml-1">Soporte dedicado</span></div>

      <div style="margin-top: 10px;">
        <span
          style="font-weight: bold; display: flex; justify-content: center; align-items: center;">Apartir de $2,99</span>
        <a class="content-advertising-like-instagram mt-04" style="width: 260px; align-self: center; margin-top: 25px;">
          <fa-icon [icon]="faCamera" class="space-2"></fa-icon>
          <span class="space-2">Comprar ahora</span>
          <fa-icon [icon]="faArrowRight" class="space-2"></fa-icon>
        </a>
      </div>
    </div>

  </div>

</div>

<div class="flex-colum mt-4 align-items-center">

  <span class="t-publish">Conozca a nuestros principales clientes</span>
  <span>Hemos ayudado a marcas líderes a aumentar su presencia social sin esfuerzo.</span>

  <div class="marquee">
    <div class="marquee-content">
      <div class="ad">
        <img src="https://rizzup.net/images/TTM-Logo.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/mctrades.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/bud.com.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/roobet.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/mctrades.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/TTM-Logo.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/TTM-Logo.webp" class="image-publish" />
      </div>
      <div class="ad">
        <img src="https://rizzup.net/images/TTM-Logo.webp" class="image-publish" />
      </div>
    </div>
  </div>

</div>

<div style="margin-top:2rem; display: flex; flex-direction: column; padding: 1rem; background-image: linear-gradient( 45deg, #4b25ea, #bd18e6, #fb590e);">

  <div>
    <h3 style="text-align: center; color: white;">Testimonios de clientes</h3>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: center;">

    <div class="card-testimony">

      <div class="container-video">
        <video>
          <source src="https://i.imgur.com/fIKySBd.mp4" type="video/mp4">
        </video>
      </div>
      <div>

        <p style="font-size:1.25rem; margin-top: 20px;"
           class="card-title text-center align-items-center">
          <strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                smoke
              </font></font></strong>
          <fa-icon [icon]="faCheck"></fa-icon>
          <br>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> TopTree CEO </font></font><br>
          <strong><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">304.000</font></font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> seguidores</font></font>
        </p>
        <div style="padding-left: 2rem; padding-right: 2rem;">
          <i style="text-align: center;">
            "RizzUp es el arma secreta que todo influencer necesita en su arsenal. Es como los esteroides de las redes
            sociales, pero sin el riesgo de encogerte... ¡ya sabes a qué me refiero!"
          </i>
        </div>

      </div>

    </div>

    <div class="card-testimony">

      <div class="container-video">
        <video>
          <source src="https://i.imgur.com/fIKySBd.mp4" type="video/mp4">
        </video>
      </div>

      <div class="container-video mt-1">
        <video>
          <source src="https://i.imgur.com/fIKySBd.mp4" type="video/mp4">
        </video>
      </div>

      <div class="container-video mt-1">
        <video>
          <source src="https://i.imgur.com/fIKySBd.mp4" type="video/mp4">
        </video>
      </div>

      <div class="container-video mt-1">
        <video>
          <source src="https://i.imgur.com/fIKySBd.mp4" type="video/mp4">
        </video>
      </div>

    </div>

    <div class="card-testimony">

      <div class="container-video">
        <video>
          <source src="https://i.imgur.com/fIKySBd.mp4" type="video/mp4">
        </video>
      </div>
      <div>

        <p style="font-size:1.25rem; margin-top: 20px;"
           class="card-title text-center align-items-center">
          <strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                smoke
              </font></font></strong>
          <fa-icon [icon]="faCheck"></fa-icon>
          <br>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> TopTree CEO </font></font><br>
          <strong><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">304.000</font></font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> seguidores</font></font>
        </p>
        <div style="padding-left: 2rem; padding-right: 2rem;">
          <i style="text-align: center;">
            "RizzUp es el arma secreta que todo influencer necesita en su arsenal. Es como los esteroides de las redes
            sociales, pero sin el riesgo de encogerte... ¡ya sabes a qué me refiero!"
          </i>
        </div>

      </div>

    </div>

  </div>

</div>


<div style="padding: 2rem;">

  <div class="content-option" style="border-bottom: 1px solid white !important;">
    <div></div>
    <div class="sub-content-option">
      <fa-icon [icon]="faBolt" class="alingSeft icon-default" style="color: #FFAD33;"></fa-icon>
      <span class="alingSeft t-question"><strong>Preguntas frecuentes</strong></span>
    </div>
    <div></div>
  </div>

  <mat-accordion class="container-accordion">

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title class="panel-title"> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="panel-content">I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title class="panel-title"> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="panel-content">I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title class="panel-title"> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="panel-content">I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title class="panel-title"> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="panel-content">I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title class="panel-title"> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="panel-content">I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="accordion-header">
        <mat-panel-title class="panel-title"> Self aware panel </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="panel-content">I'm visible because I am open</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<div style="height: 100px;"></div>
