
.container-modal {
  background: white;
  color: black;
}

.color-text {
  color: black;
}

.btn-close {
  background: linear-gradient(45deg, #4b25ea, #bd18e6, #fb590e);
  color: white;
  opacity: 1;
}

.icon {
  color: green;
  zoom: 4;
}
