<div class="flex flex-col items-center justify-center bg-white p-6 rounded-lg shadow-lg container-modal">
  <!-- Título -->
  <div class="flex space-x-4 mb-4" style="justify-items: center;">
    <fa-icon [icon]="faInfoCircle" class="icon"></fa-icon>
    <h2 mat-dialog-title class="color-text" style="margin-top: -15px;">Selecciona un post</h2>
  </div>

  <!-- Mensaje -->
  <mat-dialog-content style="margin-top: -30px;">
    <p class="color-text" style="margin-top: -10px;">
      Debes seleccionar la publicacion que quieres agregar likes
    </p>
  </mat-dialog-content>

  <!-- Botón -->
  <mat-dialog-actions class="mt-6">
    <button mat-button mat-dialog-close style="background: black; color: white;">
      Cerrar
    </button>
  </mat-dialog-actions>
</div>
