<div class="flex-colum justify-self">
  <div class="align-items-center">

    <div class="flex-colum align-items-center" style="margin-top: 4rem;">

      <h1 class="title">
        <fa-icon [icon]="faBolt" class="mt-5"></fa-icon>
        <strong class="text">Comprar seguidores de tiktok</strong>
      </h1>

    </div>

    @if (!selectGender && !globalFollower && !deliveryFast && !buyForm) {
      <div id="container-search">

        <div id="card-header">
          <div class="wp-25 flex-colum align-items-center">

            <div>
              <fa-icon [icon]="faRocket"></fa-icon>
            </div>
            <div>
              Entrega inmediata
            </div>

          </div>
          <div class="wp-25 flex-colum align-items-center">
            <div>
              <fa-icon [icon]="faUnlock"></fa-icon>
            </div>
            <div>
              Sin Contraseña
            </div>
          </div>
          <div class="wp-25 flex-colum align-items-center">
            <div>
              <fa-icon [icon]="faHandshake"></fa-icon>
            </div>
            <div>
              Soporte 24/7
            </div>
          </div>
          <div class="wp-25 flex-colum align-items-center">
            <div>
              <fa-icon [icon]="faShield"></fa-icon>
            </div>
            <div>
              100% Privacidad
            </div>
          </div>
        </div>

        <div id="card-body">

          <div class="flex-row border">
            <form [formGroup]="form" class="flex-row" style="width: 100%;">
              <fa-icon [icon]="faUser" style="padding: 4px;"></fa-icon>
              <input style="padding: 0.20rem;"
                     type="text" formControlName="quantity"
                     placeholder="Selecciona la cantidad de seguidores" readonly>

            </form>
          </div>

          <div class="flex-row flex-wrap justify-content-around">

            <div [ngClass]="{'selected-likes': buyLikes100}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-08 pointer"
                 (click)="selectedFollowers(100, 'buyLikes100')">
              <div>100</div>
              <div><span>Seguidores</span></div>
            </div>

            <div [ngClass]="{'selected-likes': buyLikes500}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-08 pointer"
                 (click)="selectedFollowers(500, 'buyLikes500')">
              <div>500</div>
              <div><span>Seguidores</span></div>
            </div>

            <div [ngClass]="{'selected-likes': buyLikes1000}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-08 pointer"
                 (click)="selectedFollowers(1000, 'buyLikes1000')">
              <div>1000</div>
              <div><span>Seguidores</span></div>
            </div>

            <div [ngClass]="{'selected-likes': buyLikes2500}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-04 pointer"
                 (click)="selectedFollowers(2500, 'buyLikes2500')">
              <div>2500</div>
              <div><span>Seguidores</span></div>
            </div>

            <div [ngClass]="{'selected-likes': buyLikes5000}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-04 pointer"
                 (click)="selectedFollowers(5000, 'buyLikes5000')">
              <div>5000</div>
              <div><span>Seguidores</span></div>
            </div>

            <div [ngClass]="{'selected-likes': buyLikes10000}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-04"
                 (click)="selectedFollowers(10000, 'buyLikes10000')">
              <div>10000</div>
              <div><span>Seguidores</span></div>
            </div>

            <div [ngClass]="{'selected-likes': buyLikes25000}"
                 class="flex-colum align-items-center border p1 w150 shadow br-10 mt-04"
                 (click)="selectedFollowers(25000, 'buyLikes25000')">
              <div>25000</div>
              <div><span>Seguidores</span></div>
            </div>

          </div>

          <div class="flex-colum justify-self mt-1-5">
            <span class="align-seft-center" style="font-size: 17px; font-weight: bold;">Selecciona la cantidad</span>
            <a class="content-advertising-tiktok spaceAround" (click)="buyFollower()">
              <fa-icon [icon]="faFaceSmileWink"></fa-icon>
              <span class="space-8 m5">Comprar seguidores</span>
              <fa-icon [icon]="faArrowRight" class="m5"></fa-icon>
            </a>
          </div>

        </div>


      </div>
    }
    @if (selectGender) {
      <div class="container-gender flex-colum justify-self">

        <div class="subcontainer-gender mx-2 flex-colum p1" (click)="selectedArea('gender', 'F')">

          <img class="rouded align-seft-center" width="100" height="100"
               src="https://static01.nyt.com/images/2020/07/27/fashion/27CHALLENGEACCEPTED-2/27CHALLENGEACCEPTED-2-mediumSquareAt3X.jpg">

          <p class="align-seft-center font1-25 fira-sans" style="margin-top: 5px;"><strong>Seguidores</strong> femeninos
          </p>
          <p class="align-seft-center" style="margin-top: 5px;">+ Add <strong>$0.99</strong></p>

        </div>

        <div class="subcontainer-gender mx-2 flex-colum p1 mt-1" (click)="selectedArea('gender', 'M')">

          <img class="rouded align-seft-center" width="100" height="100"
               src="https://rizzup.net/images/mixed-blackandwhite.png">

          <p class="align-seft-center font1-25 fira-sans" style="margin-top: 5px;"><strong>Seguidores</strong> mixtos
          </p>

        </div>

      </div>
    }

    @if (globalFollower) {
      <div class="container-gender flex-colum justify-self">

        <div class="subcontainer-gender mx-2 flex-colum p1" (click)="selectedArea('global', 'F')">

          <img class="rouded align-seft-center" width="100" height="100"
               src="https://cdn.ipwhois.io/flags/co.svg">

          <p class="align-seft-center font1-25 fira-sans" style="margin-top: 5px;"><strong>Seguidores</strong> de
            Colombia</p>
          <p class="align-seft-center" style="margin-top: 5px;">+ Add <strong>$0.99</strong></p>

        </div>

        <div class="subcontainer-gender mx-2 flex-colum p1 mt-1" (click)="selectedArea('global', 'F')">

          <img class="rouded align-seft-center" width="100" height="100"
               src="https://em-content.zobj.net/source/microsoft-teams/337/globe-showing-americas_1f30e.png">

          <p class="align-seft-center font1-25 fira-sans" style="margin-top: 5px;"><strong>Seguidores</strong> de todas
            partes</p>

        </div>

      </div>
    }

    @if (deliveryFast) {
      <div class="container-gender flex-colum justify-self">

        <div class="subcontainer-gender mx-2 flex-colum p1" (click)="selectedArea('delivery', 'F')">

          <img class="rouded align-seft-center" width="100" height="100"
               src="https://rizzup.net/images/logo.png">

          <p class="align-seft-center font1-25 fira-sans" style="margin-top: 5px;"><strong>Entrega</strong> inmediata
          </p>
          <p class="align-seft-center" style="margin-top: 5px;">+ Add <strong>$0.99</strong></p>

        </div>

        <div class="subcontainer-gender mx-2 flex-colum p1 mt-1" (click)="selectedArea('delivery', 'F')">

          <img class="rouded align-seft-center" width="100" height="100"
               src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/512/42612-mantelpiece-clock-icon.png">

          <p class="align-seft-center font1-25 fira-sans" style="margin-top: 5px;"><strong>Entrega</strong> estandar</p>

        </div>

      </div>
    }

    @if (buyForm) {
      <div class="flex-colum buy-container">

        <div class="bg-instagram-2 p1 buy-header">
          <p class="justify-self"
             style="margin: 0; color: white; font-size: 20px; padding-top: 1rem !important; padding-bottom: 1rem !important;">
            Proceso de comprar</p>
        </div>
        <div>

          <div class="flex-colum justify-self" style="width: 100%; padding-bottom: 1.5rem;">

            <div class="flex-colum justify-self p1">
              <h4 class="m0" style="font-size: 1.5rem; font-weight: 900; user-select: none;">Order Summary</h4>
              <p class="m0 mt-08" style="font-size: 1rem; margin: 0;">x500 Mixed USA Followers <a href="www.google.com">Edit
                order</a></p>
              <div class="flex-row justify-content-center">
                <span class="m0 mt-08 text-offer"><strong>Hurry, 50% Off Ends In:</strong></span>
                <span class="text-time">4:00:00</span>
              </div>
            </div>

            <div class="input-group align-seft-center">
              <span class="input-group-text">
                <fa-icon [icon]="faEnvelope"></fa-icon>
              </span>
              <input style="width: 90%;" class="p1" type="text" placeholder="Email"/>
            </div>

            <div class="input-group align-seft-center">
               <span class="input-group-text">
                <fa-icon [icon]="faMobilePhone"></fa-icon>
              </span>
              <input style="width: 90%;" class="p1" type="text" placeholder="Phone number"/>
            </div>

            <div class="input-group align-seft-center">
               <span class="input-group-text">
                <fa-icon [icon]="faCamera"></fa-icon>
              </span>
              <input style="width: 90%;" class="p1" type="text" placeholder="Tiktok username"/>
            </div>

            <div class="flex-row align-seft-center" style="width: 79%;">

              <div class="input-group align-seft-center flex">
               <span class="input-group-text">
                <fa-icon [icon]="faUser"></fa-icon>
              </span>
                <input style="width: 90%;" class="p1" type="text" placeholder="Nombre"/>
              </div>

              <div class="input-group align-seft-center flex" style="margin-left: 0.2rem;">
               <span class="input-group-text">
                <fa-icon [icon]="faUser"></fa-icon>
              </span>
                <input style="width: 90%;" class="p1" type="text" placeholder="Apellido"/>
              </div>

            </div>

            <div class="input-group align-seft-center">
               <span class="input-group-text">
                <fa-icon [icon]="faCreditCard"></fa-icon>
              </span>
              <input style="width: 90%;" class="p1" type="text" placeholder="Tarjeta de credito"/>
            </div>

            <div class="flex-row align-seft-center" style="width: 79%;">

              <div class="input-group align-seft-center flex">
               <span class="input-group-text">
                <fa-icon [icon]="faClock"></fa-icon>
              </span>
                <input style="width: 90%;" class="p1" type="text" placeholder="MM/YY"/>
              </div>

              <div class="input-group align-seft-center flex" style="margin-left: 0.2rem;">
               <span class="input-group-text">
                <fa-icon [icon]="faLock"></fa-icon>
              </span>
                <input style="width: 90%;" class="p1" type="text" placeholder="CVV"/>
              </div>

            </div>

            <div>
              <p class="text-due"></p>
            </div>

            <button class="btnOrder align-seft-center">
              <strong>Completar orden</strong>
            </button>

          </div>

        </div>
        <div style="border-top: 1px solid grey; padding: 1rem; max-height: 200px;">

          <p style="font-size: 1rem; margin: 0;">
            <fa-icon [icon]="faCircleInfo"></fa-icon>
            Remember to keep your account
            <strong>Public</strong>
          </p>

          <p style="font-size: 1rem; margin: 0;">
            <fa-icon [icon]="faCircleCheck" style="color: rgb(31, 172, 83);"></fa-icon>
            You save
            <strong style="color: grey;">$0.99</strong><br>
            <strong style="font-size: 1rem; margin: 0;">$0.79 Processing Fee</strong>
          </p>

          <p style="font-size: 1rem; margin: 0;">
            By completing your order, you agree to our
            <strong><a href="http://localhost:8080" style="text-decoration: underline;">Term of services</a></strong>
          </p>

          <img
            src="https://bucket-qcmpq1.s3.us-east-2.amazonaws.com/wp-content/uploads/2020/06/29203137/major-credit-card-logos-png-5.png"
            width="150px;" height="23px;">

          <p style="font-size: 0.5rem; margin: 0;">
            Enjoy continued growth and engagement with RizzUp Refill! Renews up to $19.99 in 30 days for follower
            refill.
          </p>

        </div>

      </div>
    }

  </div>
</div>
